{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <h1 class="display-5 fw-bold">Welcome, {{ current_user.username }}!</h1>
        <p class="fs-4">Start your learning journey by exploring our courses below.</p>
    </div>

    <div class="row">
        {% for course in courses %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ course.image_url }}" class="card-img-top" alt="{{ course.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                    <a href="#" class="btn btn-primary">Explore Course</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}